div{
    width: 200px;
    height: 200px;
    background: red;
    margin: 40px auto;
    border: 5px solid black;
    padding: 40px;
    outline: 5px solid blue;
    box-shadow: 10px 10px 10px 6px green;
    box-sizing: border-box;
}